.SinglePost {
    text-align: left;
}
.ListDesc{
	list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    color: blueviolet;
    font-size: 14px;
    font-weight: 600;
}
.ListDesc li i {
    font-size: 13px;
    padding: 0px 7px;
}
.ListDesc li:first-child i {
    padding: 0px 7px 0 0;
}
.bg{
	background-image: url('../../../images/image_1.jpg');
	height: 300px;
	width: 100%;
	background-size: cover;
}

@media screen and (max-width: 769px){
    .ListDesc li i, .ListDesc li  {
    font-size: 10px;
}
.SinglePost {
    padding-bottom: 30px;
}
}