.Label{
	display: flex;
	justify-content: space-between;
    font-weight: 600;
    margin-bottom: -15px;
}
.ProgressBar{
	width: 100%;
	height: 15px;
	background: linear-gradient(40deg, #c324d361, #17b2ed61, #07006c61);
	margin-bottom: 30px;
	border-radius: 15px;
}
.Progress{
	background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
	border-radius: 15px;
	height: 15px;
}
