.Logo{
    text-align: left;
    letter-spacing: -15px;
    font-weight: 500;
    text-shadow: 8px 4px 5px #4747478f;
    color: white;
    margin-top: -12px;
}
.Navigation a {
    color: white;
    font-weight: 500;
}
.Navigation {
    display: flex;
    justify-content: space-between;
    color: white;
}
.FixedHeader {
    background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
    position: fixed;
    width: 100%;
    height: 70px;
    padding-top: 21px;
    z-index: 10;
    animation-name: appear;
    box-shadow: 0px 1px 8px 0px #414141;
    transition: .35s appear ease-out;
    top: 0;
}
@keyframes appear{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}

@media screen and (max-width: 769px){
.FixedHeader{
    height: 60px;
}
.Logo{
    letter-spacing: -11px;
    margin-top:-10px;
}
}

@media screen and (max-width: 450px){
   .Navigation{
    display: none;
} 
.Logo{
    text-align: center;
}
}