.Skills{
	padding-top: 80px;
	background-color: #f8f9fa;
}
.DimPara{
	color: #9d9d9d;
	padding: 20px 135px;
	font-weight: 400;
}

@media screen and (max-width: 769px){
	.Skills{
	padding-top: 50px;
}
.DimPara {
    padding: 7px 30px;
}
}