.Button{
	padding: 10px 50px;
    background: linear-gradient(45deg, #ff6ec4,#7873f5);
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 4px 7px #b6b6b6f2;
    transition: .35s transform  ease;
}
.Button:hover {
    box-shadow: 3px 4px 7px #898989e3;
    background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
    transform: scale(1.1);
}
.Button:focus{
	outline: none;
}
.ButtonO{
    padding: 10px 50px;
    background-color: white;
    color: blueviolet;
    border: 1px solid white;
    transition: .35s transform  ease;
}
.ButtonO:hover {
    box-shadow: 3px 4px 7px #898989e3;
    background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
    transform: scale(1.1);
    color: white;
}
@media screen and (max-width: 769px){
    .Button, .ButtonO{
        font-size: 13px;
    }
}
@media screen and (max-width: 426px){
    .Button, .ButtonO{
    padding: 10px 30px;
}
}