.About{
	padding-top: 80px;
	text-align: left;
}
.AboutContent{
	color: #9d9d9d;
	padding: 20px 0 0px;
	font-weight: 400;
}
.ImageWrapper {
    padding: 40px;
}
.ImageWrapper:before {
    content: '';
    background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
    height: 100px;
    position: absolute;
    left: 0px;
    top: 12%;
    width: 55px;
    z-index: -1;
}
.ImageWrapper:after {
    content: '50 PROJECTS';
    background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
    height: 100px;
    position: absolute;
    bottom: 15%;
    width: 250px;
    z-index: -1;
    left:90%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 37px 0px 0px 70px;
}
.Content{
	padding: 100px 0;
}

@media screen and (max-width: 769px){
    .About{
    padding-top: 50px;
}
.Content {
    padding: 40px 0;
}
.AboutContent{
    padding: 0px;
}
.ImageWrapper:after {
    bottom: 4%;
    left: 60%;
    font-size: 15px;
    padding: 37px 0px 0px 115px;
}
}

@media screen and (max-width: 426px){
    .About{
        text-align: center;
    }
    .ImageWrapper {
    display: none;
}

}