.Logo{
    text-align: left;
    letter-spacing: -15px;
    font-weight: 500;
    text-shadow: 8px 4px 5px #b0b0b08f;
}
.Navigation{
	display: flex;
	justify-content: space-between;
}
.Navigation a{
	color: black;
	font-weight: 600;
	position: relative;
}
.Navigation a:hover:after{
	opacity: 1;
	transform: scale(1);
}
.Navigation a:after {
	opacity: 0;
    position: absolute;
    content: '';
    background: linear-gradient(40deg, #c324d3, #17b2ed, #07006c);
    width: 40px;
    height: 1.5px;
    top: 90%;
    left: 6%;
    transform: scale(0);
    transition: .7s transform ease;
}
.Header{
    padding:25px 0px;
    background: transparent;
}

@media screen and (max-width: 769px){
.Header{
    padding: 18px 0px 0px;
    height: 55px;
}
.Logo{
    letter-spacing: -11px;
    margin-top: -10px;
}
}
@media screen and (max-width: 450px){
   .Navigation{
    display: none;
} 
.Logo{
    text-align: center;
}
}