.Section i {
    color: blueviolet;
    font-size: 30px;
    margin-bottom: 15px;
}
.Section h4 {
    font-size: 18px;
}
.Section{
	padding-top: 20px;
}
@media screen and (max-width: 769px){
	.Section i {
    font-size: 20px;
    margin-bottom: 10px;
}
.Section{
	padding-top: 0px;
}
.Section h4 {
    font-size: 13px;
}
.Section p{
	display: none;
}
}

@media screen and (max-width: 427px){
	.Section {
	    box-shadow: 0px 3px 7px #e5e5e5;
	    padding: 20px 0px 12px;
	}
	.Section p{
		display: block;
	}
}