.Home {
    background: linear-gradient(90deg, #ffffff 60%, #c587ffd9  40%);
    height: 470px;
    margin-bottom: 100px;
}
.Wrapper{
	text-align: left;
	background: url('../../images/bg_1.jpg');
	background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    padding: 100px 0px;
    height: 600px;
}
.Div{
	width: 40%;
}
.Div h5 {
    font-size: 45px;
    padding: 15px 0;
    font-weight: 800;
}
.Div b, .Wrapper span {
    color: blueviolet;
    text-shadow: 1px 1px 6px #767676;
}
.Div span{
	font-size: 40px;
}

@media screen and (max-width: 769px){
    .Home {
    height: 400px;
    margin-bottom: 30px;
}
.Wrapper {
    padding: 130px 0px 0px;
    height: 450px;
}
.Div{
    width: 70%;
}
.Div h5 {
    padding: 5px 0;
}
.Div Button{
    margin-top: 30px;
}
}

@media screen and (max-width: 427px){
    .Home {
    height: 280px;
    margin-bottom: 10px;
}
    .Div{
    width: 65%;
    margin-top: -13px;
}
    .Wrapper {
    padding: 45px 0px 0px 25px;
    height: 282px;
}
.Div span {
    font-size: 25px ;
}
.Div Button{
    margin-top: 10px;
}
}

@media screen and (max-width: 376px){
     .Home {
    height: 245px;
}
.Div span {
    font-size: 20px ;
}
.Div Button{
    margin-top: 5px;
    font-size: 11px;
}
}

@media screen and (max-width: 321px){
     .Home {
    height: 200px;
}
.Div span {
    font-size: 15px ;
}
.Div Button{
    margin-top: 0px;
    font-size: 10px;
}
}