.Contact{
	padding-top: 80px;
}
.DimPara{
	color: #9d9d9d;
	padding: 20px;
	font-weight: 400;
}
.CTASection{
	margin-top: 80px;
}
.CTAForm {
    display: flex;
    flex-direction: column;
    padding: 70px 90px;
    margin-left: -30px;
    background: #f8f9fa;
}
.CTAForm i {
    top: 1.25rem !important;
    font-size: 1.25rem !important;
    left:0;
}


.Button i{
	font-size: 	1rem !important;
}
.Img{
	background-image: 	url('../../images/about.jpg');
	width: 100%;
	max-width: 100%;
	min-width: 100%;
    height: 620px;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 769px){
  .Contact {
    padding-top: 50px ;
}
.DimPara {
    padding: 7px 30px;
}
.CTASection {
    margin-top: 30px;
}
.CTAForm {
    padding: 0px 40px;
}
.Img {
    height: 420px;
}
.CTAForm i {
    font-size: 16px!important;
}
.Contact Button {
    margin-bottom: 44px;
    margin-top: 20px;;
}
}

@media screen and (max-width: 426px){
    .Img {
    display: none;
}
.CTAForm {
    padding: 20px 70px;
}
.NoPad{
    padding:0px !important;
}
}