.Blog{
	background: #f8f9fa;
	padding: 80px 0px;
}
.DimPara{
	color: #9d9d9d;
	padding: 20px;
	font-weight: 400;
}
.Posts{
	margin-top: 80px;
}

@media screen and (max-width: 769px){
.Blog{
	padding: 50px 0px;
}
.DimPara {
    padding: 7px 30px;
}
.Posts{
	margin-top: 30px;
}
}