.Portfolio{
	border:1px solid #efefef;
	border-radius: 5px;
	padding: 0px !important;
	width: 100%;
    height: 350px;
    display: block;
    overflow: hidden;
    position: relative;
}
.Portfolio img {
    width: 100%;
    height: 100%;
}
.Portfolio .col-md-3, .Portfolio .col-md-6, .Portfolio .col-md-9{
	padding:0px !important;
}
.Portfolio:hover .Overlay{
	opacity: 1;
}
.Overlay{
	opacity: 0;
	top: 0;
	left:0;
	position: absolute;
	background: #8a2be2a6;
	height: inherit;
	width: inherit;
	color: white;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s all ease-in;
}
.Portfolio p {
    padding: 20px 60px;
}

@media screen and (max-width: 769px){
	.Portfolio{
		padding:50px 0px;
	}
	.DimPara {
    padding: 7px 30px;
}
}