.Footer{
	background-color: #8A2BE2;
	padding: 90px 0px;
	color: #e5e5e5;
	text-align: left;
}
.Footer h5{
	font-weight: 600;
	color: white;
	margin-bottom: 40px;
	font-size: 22px;
}
.Footer .List{
    border: none;
    background: transparent;
    padding: 7px 0;
    list-style: none;
}
.ListGroup{
	padding-left: 0px;
}
.ListGroup i{
	padding-right: 10px;
}
.ListGroup a{
	color: #e5e5e5;
}
.List span{
	float: right;
}
.List a:hover {
    color: #b4b4b4;
    text-shadow: 1px 2px 7px #3c3c3c;
}
.SocialLinks{
	list-style: none;
	padding: 0px;
}
.SocialLinks li a {
    background: white;
    border-radius: 25px;
    padding: 4px 8px;
}
.SocialLinks li {
    display: inline-block;
    padding: 10px;
    transition: .3s all ease;
}
.SocialLinks li:first-child{
	padding-left: 0px;
}
.SocialLinks li:first-child a{
	padding: 4px 10px;
}
.SocialLinks li:hover a {
    background: linear-gradient(45deg, #ff6ec4,#7873f5);
    color: white;
}
.SocialLinks li:hover {
    transform: scale(1.5);
}
.Copyright{
	text-align: center;
	border-top: 1px solid #d2d2d2;
	position: relative;
}
.Copyright a{
	color:white;
}
.Copyright p {
    padding-top: 15px;
}
.Copyright button {
    padding: 6px 14px;
    position: absolute;
    right: 0;
    top: 40%;
    border-radius: 25px;
}
@media screen and (max-width: 769px){
    section.Footer{
    padding: 50px 0px;
}
.Footer h5 {
    margin-bottom: 20px;
}
.Footer .List {
    padding: 4px 0;
}
.SocialLinks li:first-child a {
    padding: 4px 9px;
}
.SocialLinks li a {
    padding: 4px 7px;
}
.SocialLinks li {
    padding: 5px;
}
.Copyright button {
    padding: 4px 10px;
}
}

@media screen and (max-width: 426px){
    .Copyright button {
    top: 75%;
}

}