.Card{
	background: white;
	box-shadow: 3px 4px 18px 11px #d9d9d963;
    padding: 50px 0px 30px;
}
.Card i {
    color: blueviolet;
    font-size: 60px;
    margin-bottom: 25px;
}
.Card h5:after {
    position: absolute;
    width: 30px;
    height: 2px;
    left: 47%;
    content: '';
    bottom: -50%;
    background: #686868;
}
.Card h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
    position: relative;
    color: #3f3f3f;
}
.Card ul {
    list-style: none;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    padding: 0px;
}

@media screen and (max-width: 769px){
    .Card {
    padding: 30px 0px 20px;
}
.Card i {
    font-size: 45px;
    margin-bottom: 20px;
}
.Card ul {
    line-height: 30px;
}
}

@media screen and (max-width: 426px){
    .Card{
        margin-bottom: 25px;
    }
}