.App {
  text-align: center;
}

.HireMe{
  background: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 100px 0px;
}
.HireMe h3 {
    font-size: 40px;
}
.HireMe b{
  font-weight: bold;
}
@media screen and (max-width: 769px){
	.HireMe{
  padding: 50px 0px;
}
.HireMe h3 {
    font-size: 25px;
}
}

@media screen and (max-width: 426px){
.HireMe {
    padding: 40px 20px;
}
.HireMe h3 {
    font-size: 25px;
}
}