html{
	scroll-behavior: smooth !important;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Sen', sans-serif;
}
h6{
	letter-spacing: 2px !important;
    font-size: 14px !important;
}

@media screen and (max-width: 769px){

  p, a, li, i, h6, .form-control{
    font-size: 13px ;
  }
  h5{
    font-size: 16px !important;
  }
  h1{
    font-size: 2rem !important;
  }
  .md-form .validate {
    margin-bottom: 20px !important;
}
.md-form{
  margin-bottom: 0px !important;
}
.form-control{
  padding:5px 0px !important;
}
}
